
@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&family=Henny+Penny&family=Lacquer&display=swap');

html {
    margin: 0;
    height: 100%;
}
a { /* all links */
    text-decoration: none;
    color: red;
    font-size: 35px;
    margin-left: 80px;
    margin-right: 80px;
}


header, footer {
    font-family: "Eater", serif; /* spooky */
    font-size: 50px;
    background-color: #e0ded7;

    width: 100%;
    padding: 10px 0;

}

footer {
    margin-top: auto;
    text-align: center;
}

#footer {
    color: black;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav {
    justify-items: space-evenly;
    align-items: center;
    width: 100%;
}


h2 {
    /* font-family: "Henny Penny", serif;  less spooky */
    font-family: "Lacquer", system-ui;
    color: white;
    font-size: 30px;
    margin-left: 80;

}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-size: 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.userInput, .userQuiz, #thankYou, #score {
    align-items: center;
    margin: 80px;
}


.carousel { /* period is for class*/
    overflow: hidden;
    margin-top: 10%; /* depend on header's height to put header in the image*/
}

.item {
    width: 500px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    margin: 50px;
}

.profile_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}