
@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&family=Henny+Penny&family=Lacquer&display=swap');


body {
    /* font-family: "Henny Penny", serif;  less spooky */
    font-family: "Lacquer", system-ui;
    background-color: black;
    color: white;
    margin: 5%;
    font-size: 20px;

}

a { /* all links */
    text-decoration: none;
    color: red;
    margin-right: 5%;
    font-size: 30px;
}


header {
    font-family: "Eater", serif; /* spooky */
    font-size: 50px;
    color: lightyellow;

    width: 1140px;
    max-width: 80%; /* not touching border*/
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;

    /* put header on image*/
    position: relative;
    z-index: 100;
}

header a { /* links in header */
    margin-right: 40px; /* distance between links*/
}

.carousel { /* period is for class*/
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: 5%; /* depend on header's height to put header in the image*/
}

.item {
    width: 500px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;

    margin: 5px;
}

.profile_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}